/* css reset code */

			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			/* HTML5 display-role reset for older browsers */
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}
			body {
				line-height: 1;
			}
			ol, ul {
				list-style: none;
			}
			blockquote, q {
				quotes: none;
			}
			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}

	h1 {
		text-align: center;
		font-size: 100px;
		font-family: 'Dancing Script', cursive;		
		/*		margin-top: 1%;*/
		filter: invert(30%);
		}

	h1 a{
		text-decoration: none;
		color: black;

		}


	h1:hover{
	transition: 0.4s;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	filter: invert(0%);		
	}

h2 {
display: none;
}

			
#contactform {
font-family: 'Montserrat', sans-serif;
font-size: 30px;
color: black;
width: 100%;
margin-top: 1%;
margin-left: 18%;
line-height: 1.5;
}

#comments {


}

textarea {
margin-top: 5%;
width: 75%;
}

#submit {
height: 40px;
width: 80px;
border-radius: 25px;
font-size: 18px;
margin-left: 72%;
margin-top: 2%;
}

.background2 {
    /* The image used */
    background-image: url("contact.png");
border-radius: 75px;
    /* Set a specific height */
    height: 400px;
	width: 80%;
	margin-left: 9%;
	margin-top: 2%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  background-size: 1500px auto;

}





#aboutheader {
color: white;
font-size: 90px;
text-align: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}





#shoppingcart {

position: fixed;
top: 15px;
right: 15px;
filter: invert(25%);
}

#cartimage:hover{
			transition: 0.4s;
			-webkit-transform: scale(1.05);
			-ms-transform: scale(1.05);
			transform: scale(1.05);
			filter: invert(0%);
			
    -webkit-filter: drop-shadow(2px 2px 2px black); /* webkit only 
                     assuming the content is written in black */
    filter: drop-shadow(2px 2px 2px black);              /* FF~35 */
    filter: drop-shadow(2px 2px 0 2px black);              /* MDN */	
}




figure {
float: left;
margin-left: 5%;
display: inline-block;
}

figure img {
width: 90%;
height: auto;
margin-left: -12%;
}


	
	



main {
width: 100%;
position:absolute;
}





#cartbutton{
 position: sticky;
/*  margin: 0 auto;*/
margin-left:37%;
margin-top: 3%;
}




.addtocart:hover {
					transition: 0.3s;
/*
					-webkit-transform: scale(1.05);
					-ms-transform: scale(1.05);
					transform: scale(1.05);
*/
					filter: invert(100%);
					}


.proddesc {
margin-top: 5%;
text-indent: 30px;
line-height: 200%;
text-align: left;
font-size: 18px;
font-family: 'Montserrat', sans-serif;
}


body {
animation: fadein 2s forwards;
background-color: #FFC0CB;
bottom: 0;
width: 100%;
height: 160% !important;
}



.abouttxt p {
float: right;
margin-top: 20%;
font-size: 20px;
}

.aboutimg img {
float: left;
margin-top: 15%;
}




			/*  GO FULL WIDTH BELOW 1200 PIXELS */
			@media only screen and (max-width: 1200px) 
			
					{
					
					body {
						bottom: 0;
						width: 100%;
  						height: 160% !important;
						}
					
					main {
					display: block;
					position: relative;
					margin-left: 5%;
					margin-right: 5%;
					}
					
					figure{
						width: 100%;
						height: auto;
						margin-left: 0;
						margin-right: 5%;
						margin-bottom: 0;
						}


					
					#aboutheader {
					font-size: 45px;
					}
					
					
					figure img {
						width: 80%;
						height: auto;
						margin-left:10%;
						margin-right:10%;
						}
						
						

					.background {
					display: none;
					}




					.background2 {
						background-image:none;
					}



						h2 {
							display:block;
							color: black !important;
							font-family: 'Montserrat', sans-serif;
							font-size: 80px !important;
							text-align: center;
							margin-top: 32%;	
						}
						
/*
						h2 p {
						box-shadow: 25px 25px black !important;
						}
*/


/*
					.addtocart {
					margin-right: 40%;
					margin-left: 40%;
max-width: 5% !important;
					
					}
*/
					
					
/*
					
					#drop-shadow img {
					max-width: 5% !important;
					
					}
						
*/
							


					.price {
					font-size: 18px;
					}

					.proddesc {
					font-size: 17px;
					}

					.abouttxt p {
					font-size: 18px;
					}			
					
					table {
					width: 40% !important;
					font-size: 20px;
					}
					
					#contactform {
					left: 0;
					float: left;
					margin-left: 0;
					padding-left: 0;
					margin-top: 0;
					padding-top: 0;
					}
		

					
					
/*
						.prodimg {
						height: 50%;
						width: auto;
						display: inline-block;
						}
*/
						
						
						
					} /*end media query*/



			@media only screen and (max-width: 600px) 
			
					{

						h2 {
							font-size: 47px !important;
							margin-top: 55%;
							margin-bottom: 0;
							padding-bottom: 0;
						}
					}



/*---------------------navigation------------------------------------------------------------------------------------*/




/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
  /* non-critical appearance styles */
  list-style: none;
  background: #111;
   font-family: 'Montserrat', sans-serif;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
font-weight: bold;
}

.nav-item a:hover {
  color: #000000;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.78) 47%, rgba(237,237,237,0.54) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.78)), color-stop(100%, rgba(237,237,237,0.54)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.78) 47%, rgba(237,237,237,0.54) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.78) 47%, rgba(237,237,237,0.54) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,0.78) 47%, rgba(237,237,237,0.54) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,0.78) 47%, rgba(237,237,237,0.54) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
/*animation-duration: 2s;*/
transition-duration: 1s;
			transition: 0.4s;
			-webkit-transform: scale(1.03);
			-ms-transform: scale(1.03);
			transform: scale(1.03);
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
    background-image: linear-gradient(rgba(255,193,203,1), rgba(222,156,168,1));
  background-color: pink; 
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  
  /* non-critical apperance styles */
  padding: 4em;
/*  background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);*/
  background-size: 200%;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  opacity : 0.6;
  background-size: contain;
}






label:hover{
  opacity : 1;
  			
/*
			-webkit-transform: scale(1.03);
			-ms-transform: scale(1.03);
			transform: scale(1.03);
*/
  transition: 1s;
  height: 31px;
  width: 31px;

}


/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

/* Additional non-critical styles */

/*
h1, h3, p {
  max-width: 600px;
  margin: 0 auto 1em;
}
*/

code {
    padding: 2px;
    background: #ddd;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%;}







/*---------FOOTER----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* footer */

footer {
text-align: right;
float: right;
bottom: 0;
margin-top: 2%;
margin-right: -3%;
font-family: Montserrat;
}
	

footer a:visited{
color: purple;
}

footer a{
color:#5F00FF;
}

footer a:hover{
color: hotpink;
font-weight: bold;
}
		
		
		
		
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



